html, body {
  height: 100%;
  width: 100vw;
}

#map {
  height: 100vh;
  width: 100vw;
  z-index: 0;
}

#layerList {
  background-color: #303030;
  padding: 0.4em;
  z-index: 99;
  top: 70px;
  right: 12px;
  position: absolute;  
  border-radius: 8px;
}

.layerItem {
  padding: 0.1em;
}

.layerItem label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.9em;
}

.layerItem label {
  cursor: pointer;
}

.resultCount {
  text-align: right;
}